.hero {
  position: relative;
  background-color: var(--light-green);
  display: flex;

  @media (max-width: 1317px) {
    flex-direction: column;
  }
}

.hero__row {
}

.hero__left-side {
  max-width: 514px;
  width: 100%;

  @media (max-width: 1317px) {
    max-width: 100%;
    text-align: center;
  }
}

.hero__title {
  margin-top: 100px;
  margin-bottom: 52px;

  @media (max-width: 1317px) {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
  }
}

.hero__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  margin-bottom: 72px;

  @media (max-width: 1317px) {
    margin-bottom: 30px;
  }

  @media (max-width: 1317px) {
    display: none;
  }
}

.hero__right-side {
  @media (max-width: 1317px) {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
  }
}

.hero__picture {
  position: relative;

  background-color: #c6d7ca;
  clip-path: circle(107% at 100% 50%);

  width: 838px;

  display: flex;
  justify-content: end;

  @media (max-width: 1551px) {
    width: 638px;
  }

  @media (max-width: 1317px) {
    max-width: 100%;
    clip-path: circle(130% at 100% 50%);
    background-color: var(--light-gree);
  }
}

.hero__img {
  clip-path: circle(105% at 100% 50%);
  max-width: 780px;
  height: auto;

  @media (max-width: 1551px) {
    max-width: 680px;
  }

  @media (max-width: 1317px) {
    max-width: 780px;
    width: 100%;
    clip-path: circle(130% at 100% 50%);
    border-radius: 12px;
  }
}

.hero__play-tag {
  display: none;

  @media (max-width: 1317px) {
    position: absolute;
    top: -21px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green-color);
    border-radius: 100%;
    width: 42px;
    height: 42px;
  }
}

.hero__mobile-btn {
  margin: 0 auto;
  margin-bottom: 32px;
}

.hero__video {
  position: absolute;
  top: 52px;
  right: 43%;

  @media (max-width: 1857px) {
    right: 49%;
  }

  @media (max-width: 1714px) {
    top: 420px;
    right: 51%;
  }

  @media (max-width: 1600px) {
    display: none;
  }
}

.hero__play {
  position: relative;
  display: inline-block;
}

.icon--play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon--play-text {
  animation: rotation 5s linear 0s infinite running normal;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(100deg);
  }
}
